body {
    font-family: Arial;
    text-align: center;
}

li {
    list-style: none;
    margin: 8px;
}

.done {
    text-decoration: line-through;
    color: gray;
}
button {
    padding: 6px 12px;
    margin: 5px;
}
